body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background-color: #92a68a;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f5dd9d;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 3%;
  background-color: #7b8f8a;
}
