body 
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background-color: #92a68a;
  color: black;
}

* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, p, button 
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f5dd9d;
  text-decoration: none;
}

header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%;
  background-color: #7b8f8a;
}

.nav_links 
{
  list-style: none;
}

.nav_links li 
{
  display: inline-block;
  padding: 0px 10px;
}

.nav_links li a 
{
  padding: 9px 25px;
  background-color: #506266;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover 
{
  background-color: #f8e4ac;
  color: #506266;
}

.profile 
{
  padding: 9px 25px;
  background-color: #506266;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.logout button
{
  font-size: 16px;
  padding: 9px 25px;
  background-color: #506266;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.logout button:hover
{
  background-color: #f8e4ac;
  color: #506266;
}

#title 
{
  background-color: #bcc499;
  color: black;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.survey_container 
{
  width: 80%;
  margin: auto;
  background-color: #bcc499;
  color: black;
  padding: 15px;
}

.survey-form 
{
  text-align: center;
}

.row-tab 
{
  display: block;
  padding-bottom: 20px;
}

.label-tab 
{
  display: inline-block;
  width: 44%;
  text-align: right;
  vertical-align: top;
  margin-right: 15px;
}

.input-tab 
{
  display: inline-block;
  width: 54%;
  text-align: left;
}

.text
{
  width: 35%;
}

.select-tab 
{
  display: inline-block;
  width: 54%;
  text-align: left;
}

.radio_choice 
{
  margin-bottom: 5px;
}

#select-box 
{
  padding: 5px 0px;
}

button 
{
  padding: 9px 25px;
  background-color: #506266;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 18px;
}

button:hover 
{
  background-color: #7b8f8a;
  color: #bcc499;
}

.results 
{
  width: 90vw;
  max-width: 550px;
  margin: 8vh auto;
}
.results__heading 
{
  
    font-size: 110%;
}
  
.results__display-wrapper 
{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #bcc499;
    border: 1px solid #506266;
    overflow-x: scroll;
}